<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salas</title>
</head>
<body>

    <%- include("partials/main") %> 

    <div id="title">
        <h1>Chat do Willian</h1>
    </div>
    <div id="mini-container">
        <h3>Salas</h3>
        <a href="/lazer" target="_blank">Lazer</a> <br>
        <a href="/trabalho" target="_blank">Trabalho</a>
    </div>

</body>
</html>