#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#messages{
    margin: 20px;
    margin-bottom: 10px;
    width: 90vw;
    height: 500px;
    background-color: #222;
    border: solid 2px rgb(146, 0, 165);
}

form{
    margin-bottom: 5px;
}

#iu, #im{
    margin: 0 20px 0 20px;
    padding: 5px;
    font-size: 1.2em;
    background-color: #222;
    color: white;
    outline: 0;
    border-color: rgb(146, 0, 165);
}

#im{
    width: 77.5vw;
}

button{
    margin: 0 20px 0 0;
    padding: 5px;
    font-size: 1.2em;
    width: 10vw;
    background-color: rgb(146, 0, 165);
    color: white;
}

ul{
    list-style-image: url("../assets/foguete.png");
}

li{
    font-family: Roboto, Arial;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 640px) {

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #iu{
        margin: 0 5px 5px 5px;
        width: 315px;
    }

    #im{
        margin: 0 5px 5px 5px;
        width: 315px;
    }

    button{
        margin: 0 0 0 0;
        width: 85px;
    }
}