#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#messages{
    margin: 20px;
    width: 90vw;
    height: 500px;
    background-color: rgba(0,0,0,0.45);
    border: solid 2px black;
}

input{
    margin: 0 20px 0 20px;
    padding: 5px;
    font-size: 1.2em;
    width: 77.5vw;
    background-color: aliceblue;
    outline: 0;
    border-color: rgba(0,0,0,0.45);
}

button{
    margin: 0 20px 0 0;
    padding: 5px;
    font-size: 1.2em;
    width: 10vw;
    background-color: rgb(255, 238, 0);
    color: black;
}

ul{
    list-style-image: url("../assets/foguete.png");
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(31, 31, 31);
    text-shadow: 1px 1px 0 rgb(202, 201, 201);
}

@media screen and (max-width: 640px) {

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input{
        margin: 0 5px 5px 5px;
        width: 315px;
    }

    button{
        margin: 0 0 0 0;
        width: 85px;
    }
}